* {
    background: linear-gradient(to right, rgb(61, 213, 255) , rgb(167, 255, 234));
}

body{
    text-align: center;
    font-size: 25px;
}

img {
    margin-top: 35px;
    margin-bottom: 12px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}