* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 120%;
    color: white;
    background: linear-gradient(to right, rgb(92, 151, 255) , rgb(118, 225, 255));
}

img {
    margin-top: 35px;
    margin-bottom: 12px;
    height: 145px;
    width: 145px;
    border-radius: 50%;
}

.link__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link-item {
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    height: 60px;
    margin: 16px;
    width: 50%;
    background-color: transparent;
}

#link-item:hover {
    background-color: rgb(143, 150, 255);
}

/* span {
    transform-style: preserve-3d;
    transform: translateZ(20px);
} */

u {
    color: aquamarine;
    text-decoration-color: #fff;
}

